<div class="wrap">
    <div class="vertical-list-item">
        <h2>自动解密消息</h2>
        <div class="switchBackgroundImage q-switch is-active" id="autoDecode">
            <span class="q-switch__handle"></span>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
        <h2>是否显示密文</h2>
        <div class="switchBackgroundImage q-switch is-active" id="showRawMsg">
            <span class="q-switch__handle"></span>
        </div>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
        <h2>每次启动自动清空缓存</h2>
        <div class="switchBackgroundImage q-switch is-active" id="autoDeleteCache">
            <span class="q-switch__handle"></span>
        </div>
    </div>
</div>



<h1 class="label">消息加密模式</h1>
<div class="wrap eencode-config">
    <div style="margin-top: 10px"></div>
    <p class="secondary-text">普通加密: 则使用AES加密信息</p>
    <p class="secondary-text">分群加密: 在普通模式的基础上使用群号加密, 无法使用加密信息发送其他群</p>

    <hr class="horizontal-dividing-line" style="margin-top: 10px">
    <div class="vertical-list-item">
        <h2 >请选择模式</h2>
        <div class="ops-selects">
            <div class="q-pulldown-menu small-size" data-id="plugin_type_1">
                <div class="q-pulldown-menu-button">
                    <input class="content" type="text" readonly spellcheck="false">
                    <svg class="icon" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12 6.0001L8.00004 10L4 6" stroke="currentColor" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <div class="q-context-menu hidden">
                    <ul class="q-pulldown-menu-list small-size">
                        <li class="q-pulldown-menu-list-item" data-value="normal">
                            <span class="content">普通加密</span>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 7L6.00001 11L14 3" stroke="currentColor" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </li>
                        <li class="q-pulldown-menu-list-item" data-value="groupId">
                            <span class="content">分群加密</span>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 7L6.00001 11L14 3" stroke="currentColor" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </li>
                        <!-- <li class="q-pulldown-menu-list-item" data-value="groupId-SenderId">
                            <span class="content">发送者加密</span>
                            <span class="icon">
                                <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 7L6.00001 11L14 3" stroke="currentColor" stroke-linejoin="round"></path>
                                </svg>
                            </span>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<h1 class="label">普通加密模式设置</h1>
<div class="wrap" id="AES-config">
    <div class="vertical-list-item">
        <h2>密钥</h2>
        <input class="path-input text_color" type="text" spellcheck="false" id="AES-Key">
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
    <p>注意: 如果修改可能无法解密别人使用默认秘钥加密的信息</p>
    </div>
    <div class="vertical-list-item">
        <span></span>
        <div class="ops-btns">
            <button class="q-button q-button--secondary q-button--small create">随机秘钥(需保存)</button>
            <button class="q-button q-button--secondary q-button--small reset">恢复默认</button>
            <button class="q-button q-button--secondary q-button--small save">保存</button>
        </div>
    </div>
</div>

<!-- <h1 class="label">鸣谢</h1>
<div class="wrap">
    <div class="vertical-list-item">
        <p>本项目借鉴与 Msg-encode</p>
    </div>
    <hr class="horizontal-dividing-line">
    <div class="vertical-list-item">
        <div>
            <h2>Github - Plugin-Msg-encode</h2>
        </div>
        <button class="q-button q-button--secondary q-button--small" id="msg-encode-github-url">前往</button>
    </div>
</div> -->

