<setting-section data-title="常规设置">
    <setting-panel>

        <setting-list data-direction="column">
            <setting-item>
                <setting-text>自动解密消息</setting-text>
                <setting-switch is-active id="autoDecode"></setting-switch>
            </setting-item>
            <data-orientation data-orientation="horizontal"></data-orientation>
        </setting-list>

        <setting-list data-direction="column">
            <setting-item>
                <setting-text>是否显示密文</setting-text>
                <setting-switch is-active id="showRawMsg"></setting-switch>
            </setting-item>
            <data-orientation data-orientation="horizontal"></data-orientation>
        </setting-list>

        <setting-list data-direction="column">
            <setting-item>
                <setting-text>每次启动自动清空缓存</setting-text>
                <setting-switch is-active id="autoDeleteCache"></setting-switch>
            </setting-item>
            <data-orientation data-orientation="horizontal"></data-orientation>
        </setting-list>

        <setting-list data-direction="column">
            <setting-item>
                <setting-text>缓存目录</setting-text>
                <input class="path-input text_color cache-path" type="text" spellcheck="false" readonly>
                <setting-button data-type="secondary" class="open-cache" style="padding-left: 10px;">打开目录</setting-button>
            </setting-item>
            <data-orientation data-orientation="horizontal"></data-orientation>
        </setting-list>

        <setting-list data-direction="column">
            <setting-item>
                <setting-text data-type="secondary">此目录无法在这修改, 请修改LiteLoader缓存目录使其改变</setting-text>
                <setting-text data-type="secondary" class="cache-size"></setting-text>
            </setting-item>
        </setting-list>

    </setting-panel>
</setting-section>


<setting-section data-title="加密模式">
    <setting-panel>

        <setting-list data-direction="column">
            <setting-item>
                <setting-text data-type="secondary">普通加密: 则使用AES加密信息</setting-text>
            </setting-item>
            <setting-item>
                <setting-text data-type="secondary">分群加密: 在普通模式的基础上使用群号加密, 无法使用加密信息发送其他群</setting-text>
            </setting-item>
            <data-orientation data-orientation="horizontal"></data-orientation>
        </setting-list>

        <setting-list data-direction="column">
            <setting-item>
                <setting-text>请选择模式</setting-text>
                <setting-select class="encrypt-mode">
                    <setting-option data-value="normal">普通加密</setting-option>
                    <setting-option data-value="groupId">分群加密</setting-option>
                </setting-select>
                
            </setting-item>
            <data-orientation data-orientation="horizontal"></data-orientation>
        </setting-list>
        
    </setting-panel>
</setting-section>

<setting-section data-title="普通加密设置" id="AES-config">
    <setting-panel>

        <setting-list data-direction="column">
            <setting-item>
                <setting-text>密钥</setting-text>
                <input class="path-input text_color" type="text" spellcheck="false" id="AES-Key">
            </setting-item>
            
            <setting-text>注意: 如果修改可能无法解密别人使用默认秘钥加密的信息</setting-text>
        </setting-list>
        <data-orientation data-orientation="horizontal"></data-orientation>
        

        <setting-list data-direction="row">
            <setting-item>
                <setting-button data-type="secondary" class="create">随机秘钥(需保存)</setting-button>
                <setting-button data-type="secondary" class="reset">恢复默认</setting-button>
                <setting-button data-type="secondary" class="save">保存</setting-button>
            </setting-item>
        </setting-list>

    </setting-panel>
</setting-section>

<setting-section data-title="版本信息" id="eencode-current-version">
    <setting-panel>
        <setting-list data-direction="column">

            <setting-item>
                <setting-text class="has-find">正在查看是否有新版...</setting-text>
                <setting-item data-direction="row">
                    <setting-button data-type="secondary" class="eencode-install-update" hidden style="padding-right: 10px;">立即更新</setting-button>
                    <setting-button data-type="secondary" id="eencode-checkUpdate">重新检查更新</setting-button>
                </setting-item>
            </setting-item>
            <setting-item>
                <setting-text class="update-length"></setting-text>
                <setting-text class="update-check-date"></setting-text>
            </setting-item>
            <div class="restart-div" hidden>
                <setting-item class="restart-wrap">
                    <setting-text>更新完成, 重新启动QQ生效</setting-text>
                    <setting-button data-type="secondary" class="eencode-restart">重新启动</setting-button>
                </setting-item>
            </div>

        </setting-list>

    </setting-panel>
    
</setting-section>