.decode-msg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    box-shadow: #add8e6 0px 0px 20px 5px;
    overflow-x: unset;
    overflow-y: unset;
    margin: 3px 3px 15px
}

.eencode-send-button {
    margin-right: 10px;
}

.hidden {
    visibility: hidden;
}

.g-container {
    width: 240px;
    height: 25px;
    border-radius: 25px;
    background: #eee;
}

.g-text {
    float: left;
    margin-left: 45%;
    margin-top: 4px;
}

.g-progress {
    width: 0%;
    height: inherit;
    border-radius: 25px;
    transition: width .2s linear;
    background: linear-gradient(269deg, #00ff00, #0ff);
}


.file-info p{
    word-wrap: break-word;
    word-break: break-all;
}

.decode-msg-container {
    padding: 5px !important;
}