<div class="send-btn-wrap eencode-send-button-wrap" data-v-3738bdf8="">
  <div class="" data-v-3738bdf8="">
    <div class="send" data-v-3738bdf8="">
      <div
        class="send-msg eencode-send-button"
        data-v-3738bdf8=""
        role="button"
        bf-label-inner="true"
        tabindex="0"
        aria-busy="false"
      >
        加密发送
      </div>
    </div>
    <div class="divider" data-v-3738bdf8=""></div>
    <div class="vue-component" data-v-3738bdf8="" style="margin-left: 7px">
      <div>
        <i
          class="q-svg-icon q-icon vue-component eencode-send-setting"
          data-v-d4820ab3=""
          style="width: 14px; height: 14px; --234e3e61: var(--on_brand_primary)"
          ><svg viewBox="0 0 16 16">
            <use
              xlink:href="/_upper_/resource/icons/oldIcons/DropDown.svg#DropDown"
            ></use></svg
        ></i>
      </div>
    </div>
  </div>
</div>
