<div class="send-btn-wrap hidden" data-v-34971e9e="" style="margin-right:10px; background-color: darksalmon">
    <div class="send send" data-v-34971e9e="">
        <div class="send-msg eencode-cancel-send" data-v-34971e9e="" aria-disabled="true" aria-busy="false" role="button">取消加密</div>
    </div>
</div>
<div class="send-btn-wrap" data-v-34971e9e="" style="margin-right:10px">
    <div class="send send" data-v-34971e9e="" style="width:100%">
        <div class="send-msg eencode-send-button" style="padding-left: 20px;"
        data-v-34971e9e="" aria-disabled="true" aria-busy="false" aria-label="加密" role="button">加密发送</div>
        <div class="divider" data-v-34971e9e=""></div>
        <div class="send-setting__wrapper" data-v-1d70d230="" data-v-34971e9e="">
            <div class="eencode-send-setting" data-v-1d70d230="">
                <i class="q-icon" data-v-717ec976="" data-v-1d70d230="" style="--b4589f60: inherit; --6ef2e80d: 14px;">
                    <svg viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M2.79445 5.90086L7.89967 11.0049L13.0049 5.90086L12.3105 5.20555L7.89967 9.61536L3.48883 5.20555L2.79445 5.90086Z"
                            fill="currentColor"></path>
                    </svg>
                </i>
            </div>
        </div>
    </div>
</div>